<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jaaaain.bibobibo.dal.mapper.UserMapper">
    <resultMap id="BaseResultMap" type="com.jaaaain.bibobibo.dal.entity.User">
        <id property="id" column="id"/>
        <result property="username" column="username"/>
        <result property="nickname" column="nickname"/>
        <result property="avatar" column="avatar"/>
        <result property="background" column="background"/>
        <result property="signature" column="signature"/>
        <result property="birthday" column="birthday"/>
        <result property="password" column="password"/>
        <result property="phone" column="phone"/>
        <result property="role" column="role"/>
        <result property="gender" column="gender"/>
        <result property="exp" column="exp"/>
        <result property="coin" column="coin"/>
        <result property="vip" column="vip"/>
        <result property="state" column="state"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
        <result property="deleted" column="deleted"/>
    </resultMap>

</mapper>

